@import '../../sass/variables';

.page-masthead {
  border-bottom: 10px solid $primary;
  position: relative;
  width: 100%;

  &:after {
    background: $tertiary;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
  }
  &__inner {
    margin: 0 auto;
    max-width: $max-width;
    padding: 30px 10px;
    position: relative;
  }
  &--heading {
    color: $secondary;
    font-size: $heading-primary;
    font-weight: $weight-bold;
  }
}
