@import '../sass/variables';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font: 100% $font-primary;
}
a {
  color: #008080;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: underline;
  }
}
h1, h2, h3, h4 {
  font-weight: normal;
  color: #008080;
}
p {
  font-size: 1rem;
  margin-bottom: 20px;
}
ul {
  margin-bottom: 10px;
  li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
.accessible {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
