// Widths
$max-width: 1300px;

// Colors
$base: #fff;
$base-alt: #000;

$primary: #38003c;
$secondary: #e90052;
$tertiary: #00ff87;

// Font families
$font-primary: 'Raleway', sans-serif;

// Font sizing
$size-primary: 1rem;
$size-secondary: .75rem;

$heading-primary: 1.5rem;
$heading-secondary: 1.25rem;

// Font weights
$weight-light: 300;
$weight-medium: 400;
$weight-bold: 700;
