<table class="example-table">
  <thead>
    <tr>
      <th></th>
      <th>Team</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>F</th>
      <th>A</th>
      <th>GD</th>
      <th>Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Liverpool</td>
      <td>23</td>
      <td>19</td>
      <td>3</td>
      <td>1</td>
      <td>54</td>
      <td>13</td>
      <td>41</td>
      <td>60</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Man City</td>
      <td>23</td>
      <td>18</td>
      <td>2</td>
      <td>3</td>
      <td>62</td>
      <td>17</td>
      <td>45</td>
      <td>56</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Tottenham</td>
      <td>23</td>
      <td>17</td>
      <td>0</td>
      <td>6</td>
      <td>48</td>
      <td>23</td>
      <td>25</td>
      <td>51</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Chelsea</td>
      <td>23</td>
      <td>14</td>
      <td>5</td>
      <td>4</td>
      <td>40</td>
      <td>19</td>
      <td>21</td>
      <td>47</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Arsenal</td>
      <td>23</td>
      <td>13</td>
      <td>5</td>
      <td>5</td>
      <td>48</td>
      <td>32</td>
      <td>16</td>
      <td>44</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Man Utd</td>
      <td>23</td>
      <td>13</td>
      <td>5</td>
      <td>5</td>
      <td>46</td>
      <td>33</td>
      <td>13</td>
      <td>44</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Watford</td>
      <td>23</td>
      <td>9</td>
      <td>6</td>
      <td>8</td>
      <td>32</td>
      <td>32</td>
      <td>0</td>
      <td>33</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Wolves</td>
      <td>23</td>
      <td>9</td>
      <td>5</td>
      <td>9</td>
      <td>27</td>
      <td>31</td>
      <td>-4</td>
      <td>32</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Leicester</td>
      <td>23</td>
        <td>9</td>
        <td>4</td>
        <td>10</td>
        <td>29</td>
        <td>29</td>
        <td>0</td>
        <td>31</td>
    </tr>
    <tr>
      <td>10</td>
      <td>West Ham</td>
      <td>23</td>
        <td>9</td>
        <td>4</td>
        <td>10</td>
        <td>30</td>
        <td>34</td>
        <td>-4</td>
        <td>31</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Everton</td>
      <td>23</td>
        <td>8</td>
        <td>6</td>
        <td>9</td>
        <td>34</td>
        <td>33</td>
        <td>1</td>
        <td>30</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Bournemouth</td>
      <td>23</td>
        <td>9</td>
        <td>3</td>
        <td>11</td>
        <td>33</td>
        <td>42</td>
        <td>-9</td>
        <td>30</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Brighton</td>
      <td>23</td>
        <td>7</td>
        <td>5</td>
        <td>11</td>
        <td>25</td>
        <td>32</td>
        <td>-7</td>
        <td>26</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Crystal Palace</td>
      <td>23</td>
        <td>6</td>
        <td>4</td>
        <td>13</td>
        <td>23</td>
        <td>32</td>
        <td>-9</td>
        <td>22</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Southampton</td>
      <td>23</td>
        <td>5</td>
        <td>7</td>
        <td>11</td>
        <td>25</td>
        <td>40</td>
        <td>-15</td>
        <td>22</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Burnley</td>
      <td>23</td>
        <td>6</td>
        <td>4</td>
        <td>13</td>
        <td>23</td>
        <td>43</td>
        <td>-20</td>
        <td>22</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Newcastle</td>
      <td>23</td>
        <td>5</td>
        <td>6</td>
        <td>12</td>
        <td>19</td>
        <td>31</td>
        <td>-12</td>
        <td>21</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Cardiff</td>
      <td>23</td>
        <td>5</td>
        <td>4</td>
        <td>14</td>
        <td>19</td>
        <td>44</td>
        <td>-25</td>
        <td>19</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Fulham</td>
      <td>23</td>
        <td>3</td>
        <td>5</td>
        <td>15</td>
        <td>21</td>
        <td>51</td>
        <td>-30</td>
        <td>14</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Huddersfield</td>
      <td>23</td>
        <td>2</td>
        <td>5</td>
        <td>16</td>
        <td>13</td>
        <td>40</td>
        <td>-27</td>
        <td>11</td>
    </tr>
  </tbody>
</table>
