<!--The content below is only a placeholder and can be replaced.-->
<app-masthead></app-masthead>
<div class="primary-container">
  <app-servers></app-servers>
  <table class="example-table">
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <th>Column 4</th>
        <th>Column 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
        <td>Column 4</td>
        <td>Column 5</td>
      </tr>
    </tbody>
  </table>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </li>
  </ul>
</div>
<app-footer></app-footer>
