<table class="example-table">
  <thead>
    <tr>
      <th></th>
      <th>Team</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>F</th>
      <th>A</th>
      <th>GD</th>
      <th>Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of leagues; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.teamName }}</td>
      <td>{{ data.matchsPlayed }}</td>
      <td>{{ data.win }}</td>
      <td>{{ data.draw }}</td>
      <td>{{ data.lose }}</td>
      <td>{{ data.goalsFor }}</td>
      <td>{{ data.goalsAgainst }}</td>
      <td>{{ data.goalsDiff }}</td>
      <td>{{ data.points }}</td>
    </tr>
  </tbody>
</table>

<div class="loader" *ngIf="loader">
	<i class="fas fa-spinner fa-spin"></i>
</div>
