@import '../../sass/variables';

.page-footer {
  border-top: 5px solid $tertiary;
  position: relative;
  width: 100%;

  &:before {
    background: $primary;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__inner {
    margin: 0 auto;
    max-width: $max-width;
    padding: 30px 10px;
  }
  &--copyright {
    color: $secondary;
    font-size: $size-secondary;
    text-align-last: auto;
  }
}
