@import 'sass/variables';
@import 'sass/base';
@import 'sass/fontawesome/fontawesome';
@import 'sass/fontawesome/brands';
@import 'sass/fontawesome/regular';
@import 'sass/fontawesome/solid';

.primary-container {
  background: #fff;
  margin: 0 auto;
  max-width: 980px;
  padding: 20px;
  width: 100%;
}
.example-table {
  width: 100%;
  tr:nth-child(odd) {
    td {
      background: #edf1ff;
    }
  }
  th, td {
    padding: 5px 10px;
    text-align: left;
  }
}
