@import 'sass/variables';
@import 'sass/base';
@import 'sass/grid';
@import 'sass/fontawesome/fontawesome';
@import 'sass/fontawesome/brands';
@import 'sass/fontawesome/regular';
@import 'sass/fontawesome/solid';

.primary-container {
  background: #fff;
  margin: 0 auto;
  max-width: 980px;
  padding: 20px;
  width: 100%;
}
