<div class="secondary-nav">
  <button class="secondary-nav--trigger">
    <i class="fas fa-bars"></i>
    <span class="accessible">Open menu</span>
  </button>
  <ul class="secondary-nav--list">
    <button class="secondary-nav--trigger secondary-nav--trigger-alt">
      <i class="fas fa-times"></i>
      <span class="accessible">Close menu</span>
    </button>
    <h2 class="secondary-nav--heading"><a href="#">Quicklinks</a></h2>
    <ul class="secondary-nav--links">
      <li><a href="#">Upcoming fixtures</a></li>
      <li><a href="#">Teams</a></li>
      <li><a href="#">Form</a></li>
      <li><a href="#">Top scorers</a></li>
    </ul>
    <h2 class="secondary-nav--heading"><a href="#">Teams</a></h2>
    <ul class="secondary-nav--links">
      <li><a href="#">Arsenal</a></li>
      <li><a href="#">Bournmouth</a></li>
      <li><a href="#">Brighton and Hove Albion</a></li>
      <li><a href="#">Burnley</a></li>
      <li><a href="#">Cardiff City</a></li>
      <li><a href="#">Chelsea</a></li>
      <li><a href="#">Crystal Palace</a></li>
      <li><a href="#">Everton</a></li>
      <li><a href="#">Fulham</a></li>
      <li><a href="#">Huddersfield Town</a></li>
      <li><a href="#">Leicester City</a></li>
      <li><a href="#">Liverpool</a></li>
      <li><a href="#">Manchester City</a></li>
      <li><a href="#">Manchester Utd</a></li>
      <li><a href="#">Newcastle United</a></li>
      <li><a href="#">Southampton</a></li>
      <li><a href="#">Tottnham Hotspur</a></li>
      <li><a href="#">Watford</a></li>
      <li><a href="#">West Ham United</a></li>
      <li><a href="#">Wolverhampton Wanderers</a></li>
    </ul>
    <h2 class="secondary-nav--heading"><a href="#">Player stats</a></h2>
    <ul class="secondary-nav--links">
      <li><a href="#">Most goals</a></li>
      <li><a href="#">Most Assists</a></li>
      <li><a href="#">Most cleansheets</a></li>
      <li><a href="#">Most red cards</a></li>
      <li><a href="#">Most own goals</a></li>
    </ul>
  </ul>
</div>
