<div class="secondary-nav">
  <button class="secondary-nav--trigger" (click)="onMenuToggle()">
    <i class="fas fa-bars"></i>
    <span class="accessible">Open menu</span>
  </button>
  <ul class="secondary-nav--list is-closed" [ngClass]="menuStatus ? 'is-open' : 'is-closed'">
    <button class="secondary-nav--trigger secondary-nav--trigger-alt" (click)="onMenuToggle(!menuStatus)">
      <i class="fas fa-times"></i>
      <span class="accessible">Close menu</span>
    </button>
    <h2 class="secondary-nav--heading">Quicklinks</h2>
    <ul class="secondary-nav--links">
      <li><a href="/fixtures">Upcoming fixtures</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/forms">Form</a></li>
      <li><a href="/top-scorers">Top scorers</a></li>
    </ul>
    <h2 class="secondary-nav--heading"><a href="#">Teams</a></h2>
    <ul class="secondary-nav--links">
      <li><a href="/arsenal">Arsenal</a></li>
      <li><a href="/bournmouth">Bournmouth</a></li>
      <li><a href="/brighton">Brighton and Hove Albion</a></li>
      <li><a href="/burnley">Burnley</a></li>
      <li><a href="/cardiff">Cardiff City</a></li>
      <li><a href="/chelsea">Chelsea</a></li>
      <li><a href="/crystal-palace">Crystal Palace</a></li>
      <li><a href="/everton">Everton</a></li>
      <li><a href="/fulham">Fulham</a></li>
      <li><a href="/huddersfield">Huddersfield Town</a></li>
      <li><a href="/leicester">Leicester City</a></li>
      <li><a href="/liverpool">Liverpool</a></li>
      <li><a href="/manchester-city">Manchester City</a></li>
      <li><a href="/manchester-united">Manchester Utd</a></li>
      <li><a href="/newcastle">Newcastle United</a></li>
      <li><a href="/southampton">Southampton</a></li>
      <li><a href="/totenham">Tottnham Hotspur</a></li>
      <li><a href="/watford">Watford</a></li>
      <li><a href="/west-ham">West Ham United</a></li>
      <li><a href="/wolves">Wolverhampton Wanderers</a></li>
    </ul>
    <h2 class="secondary-nav--heading"><a href="/player-stats">Player stats</a></h2>
    <ul class="secondary-nav--links">
      <li><a href="/top-scorers">Top Scorers</a></li>
      <li><a href="/moost-assists">Most Assists</a></li>
      <li><a href="/most-cleansheets">Most cleansheets</a></li>
      <li><a href="/most-red-cards">Most red cards</a></li>
      <li><a href="/most-yellow-cards">Most yellow cards</a></li>
      <li><a href="/most-own-goals">Most own goals</a></li>
    </ul>
  </ul>
</div>
